<h2 class="title">Monitoring and Debugging Event Listeners</h2>

<div class="abs-center container">
  <p class="text">
    Event listeners are a crucial feature while developing User interfaces as
    they can be very useful to handle, track, detect or debug user interactions
    performed on the page or on specific elements.
  </p>

  <button class="test-btn" (click)="onTestClicked($event)">Test</button>

  <ol>
    <li>
      Gain access to the <i>$0</i> or <i>temp</i> variable which we can then
      refer to the console.
    </li>

    <li>
      Use built-in functions in Chrome DevTools console to detect event firings:

      <ul>
        <li>monitorEvents($0, 'keydown')</li>
        <li>unmonitorEvents(temp1, ['keydown', 'click'])</li>
      </ul>
    </li>
  </ol>
</div>

<p class="abs-bottom-center">
  Tip: Right click on any DOM element in the Elements tab and
  <br />
  click on <I>Capture Node Screenshot</I> to take a designated screenshot of a
  DOM element.
</p>
