* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: black;
}

.title {
  text-align: center;
  padding: 20px 0;
  font-style: italic;
}

.text {
  text-align: center;
  margin: auto;
  max-width: 70vw;
}

.text.css-text {
  color: blue;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-bottom-center {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.container {
  width: 80vw;
}

p:hover,
li:hover {
  color: #191818bd;
  transition: 0.125s color;
}

.pt-20 {
  padding-top: 20px;
}

ol {
  list-style-position: inside;
}

button {
  padding: 5px;
}

button:not(:disabled) {
  cursor: pointer;
}
